@model Citizen

@{
    ViewBag.Title = "Edit Citizen";
    Layout = "_Layout";
}

<h2>Edit</h2>

<form asp-controller="Citizen" asp-action="Edit">
    <input type="hidden" name="id" value="@Model.Id"/>
    <label for="age">Age</label>
    <input type="number" id="age" name="age" value="@Model.Age"/>
    <label for="income">Income</label>
    <input type="number" id="income" name="income" value="@Model.Income"/>
    <label for="profession">Profession</label>
    <input type="text" id="profession" name="profession" value="@Model.Profession"/>
    <br/>
    <input type="submit" value="Save"/>
</form>