<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CitizenStatistics</title>
    <link rel="stylesheet" href="~/lib/css/simple.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>Citizen Statistics</h1>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Citizen" asp-action="Index">Citizen</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>Högskolan Väst</p>
        <p>APR400 - Advanced C# Programming</p>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
